# Standard Data Science packages
numpy
pandas
matplotlib

# Power system analysis and related tools
pandapower[all]
simbench
pvlib
demandlib
numba # For faster calculations; note the version constraint
openpyxl  # If writing to Excel

# Jupyter and related tools
notebook
# jupyterlab<4.0  # Uncomment if you need a specific JupyterLab version
# jupyterlab-git  # Uncomment if working with JupyterLab Git extension

# Dash for web applications
plotly
dash
dash_bootstrap_components

# Other utilities
xlrd  # for Excel parsing for pandas
holidays
mitosheet

# Code Formatting
black
isort
jupyterlab-code-formatter